script(type="text/javascript").
  window.MathJax = {
    tex: {
      inlineMath: [['$', '$'], ['\\(', '\\)']],
      displayMath: [['$$', '$$'], ['\\[', '\\]']],
      processEscapes: true
    },
    svg: { fontCache: 'global' },
    startup: {
      pageReady: () => {
        return MathJax.typesetPromise().catch(err => console.log(err))
      }
    }
  };
script(src='https://cdn.jsdelivr.net/npm/mathjax@3/es5/tex-mml-chtml.js')